/*  Ejercico 1 */

table.ejemplo1 {
  font-family: Arial, Helvetica, sans-serif;
  border-spacing: 0;
  margin: auto;
}

table.ejemplo1 th,
table.ejemplo1 td {
  padding: 20px 50px;
  text-align: center;
}

table.ejemplo1 thead {
  background-color: black;
  color: white;
  font-weight: normal;
}

table.ejemplo1 tbody tr:nth-of-type(odd) {
  background-color: rgb(173, 167, 167);
}

/* Ejercicio 2 */

table.ejemplo2 {
  font-family: "Comic Neue";
  border-spacing: 0;
  font-size: 20px;
  margin: auto;
  border-radius: 50px;
}

table.ejemplo2 th,
table.ejemplo2 td {
  padding: 20px 30px;
  text-align: left;
  border-bottom: 1px solid gray;
}

table.ejemplo2 thead {
  background-color: rgb(67, 150, 123);
  color: white;
}

table.ejemplo2 tr:nth-of-type(2) {
  color: rgb(67, 150, 123);
  font-weight: bold;
}

table.ejemplo2 tr:nth-of-type(3) td {
  border-bottom: 4px solid rgb(67, 150, 123);
}

table.ejemplo2 thead th:nth-of-type(1) {
  border-top-left-radius: 15px;
}

table.ejemplo2 thead th:nth-of-type(4) {
  border-top-right-radius: 15px;
}

/*  Ejercicio 3 */

table.ejemplo3 {
  font-family: "Comic Neue";
  margin: auto;
  font-size: 30px;
  border-spacing: 0;
  border: 2px solid black;
}

table.ejemplo3 td,
th {
  padding: 10px 20px;
  text-align: center;
}

table.ejemplo3 thead {
  background-color: black;
  color: white;
  text-transform: uppercase;
}

table.ejemplo3 tbody tr:nth-child(even) {
  background-color: rgb(219, 215, 215);
}

table.ejemplo3 tbody tr:nth-child(odd) th {
  background-color: rgb(63, 101, 197);
  color: white;
}

table.ejemplo3 tbody tr:nth-child(even) th {
  background-color: rgb(47, 84, 197);
  color: white;
}

table.ejemplo3 td.resalted {
  background-color: rgb(249, 217, 73);
  font-weight: bold;
}

table.ejemplo3 caption {
  padding: 20px;
  text-align: left;
  font-size: 40px;
  padding-left: 0;
  font-weight: bold;
}

/*  Ejercicio 4 */

table.ejemplo4 {
  font-family: "Comic Neue";
  margin: auto;
}

table.ejemplo4 th,
td {
  padding: 20px 50px;
}

table.ejemplo4 thead th {
  font-weight: normal;
  text-transform: uppercase;
}

table.ejemplo4 tbody tr:nth-child(odd) {
  background-color: rgb(250, 248, 248);
}

table.ejemplo4 a.bottom {
  background-color: gray;
  color: black;
  padding: 7px 10px;
  text-decoration: none;
}

table.ejemplo4 a.bottom.progress {
  background-color: rgb(31, 185, 31);
  color: white;
  font-weight: bold;
}

table.ejemplo4 a.bottom.open {
  background-color: rgb(247, 224, 19);
  color: black;
  font-weight: bold;
}

table.ejemplo4 a.bottom.hold {
  background-color: rgb(247, 19, 19);
  color: white;
  font-weight: bold;
}

table.ejemplo4 th {
  text-align: left;
}

/*  Ejercicio 5 */

table.ejemplo5 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(187, 183, 183);
  background-color: black;
  border-spacing: 0;
  margin: auto;
}

table.ejemplo5 thead th {
  color: white;
}

table.ejemplo5 tbody tr {
  background-color: rgb(37, 37, 42);
}

table.ejemplo5 tbody tr td p:nth-of-type(2) {
  font-size: 15px;
  color: white;
}

table.ejemplo5 tbody tr td:nth-child(2) {
  color: white;
}

/*  Ejercicio 6*/

table.ejemplo6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  border-spacing: 0;
  font-size: 12px;
}

table.ejemplo6 th,
td {
  padding: 25px 50px;
  text-align: center;
}

table.ejemplo6 thead {
  background-color: rgb(95, 19, 239);
  color: white;
  font-weight: bold;
}

table.ejemplo6 tbody th {
  background-color: rgb(233, 235, 247);
}

table.ejemplo6 tbody tr td:nth-child(odd) {
  background-color: rgb(244, 246, 251);
}

table.ejemplo6 a {
  background-color: rgb(95, 19, 239);
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

table.ejemplo6 caption {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}
